<!-- Experience -->
<section>
  <h2>Work experience</h2>
  <h3>Companies I have worked for in the past</h3>
  <ul class="experience">
    <li class="experience__list">
      <p class="experience__number">01</p>
      <p class="experience__work"><span>Google</span>, Interaction Designer</p>
      <p class="experience__text">
        I currently am the lead designer on the interaction design team for
        Google Play.
      </p>
    </li>
    <li>
      <p class="experience__number">02</p>
      <p class="experience__work"><span>Facebook</span>, Product Designer</p>
      <p class="experience__text">
        I’ve worked on a wide variety of internal tools for facebook over the
        past 6 years.
      </p>
    </li>
    <li>
      <p class="experience__number">03</p>
      <p class="experience__work"><span>Dribbble</span>, Graphic Designer</p>
      <p class="experience__text">
        I started my design career with Dribbble. I was incharge of creating
        illustrations for the platform.
      </p>
    </li>
  </ul>
</section>


