<footer class="container container-footer">
  <div class="section-footer">
    <div class="block-footer">
      <div class="logo-footer">
        <svg class="logo-footer__footer">
          <use href="./images/sprite.svg#logo"></use>
        </svg>

        <ul class="social-list__footer list">
          <li class="social-list__item">
            <a href="" class="link">
              <svg class="social-list__footer-twitter">
                <use href="./images/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="link">
              <svg class="social-list__footer-dribbble">
                <use href="./images/sprite.svg#dribbble"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="link">
              <svg class="social-list__footer-linkedin">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <ul class="menu-list__footer list">
          <li class="menu-list__item">
            <a class="link menu-list__link" href="">Home</a>
          </li>
          <li class="menu-list__item">
            <a class="link menu-list__link" href="">About</a>
          </li>
          <li class="menu-list__item">
            <a class="link menu-list__link" href="">Work</a>
          </li>
          <li class="menu-list__item">
            <a class="link menu-list__link" href="">Process</a>
          </li>
        </ul>
        <ul class="menu-list__footer list">
          <li class="menu-list__item">
            <a class="link menu-list__link" href="">Store</a>
          </li>
          <li class="menu-list__item">
            <a class="link menu-list__link" href="">Blog</a>
          </li>
          <li class="menu-list__item">
            <a class="link menu-list__link" href="">Reading List</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-copyright">
      Not Copyright 2020 • Robin Williams. Webflow cloneable
    </p>
  </div>
</footer>
