<section class="section">
    <div class="container hero-wripper">
        <img class="hero-wripper__portrait" src="./images/img-mobile/hero-portrait-mobile.jpg" alt="portrait">
        <h1 class="title">I’m Robin Williams. A Product Designer <span class="title-grey">based in Italy.</span> </h1>
        <p class="">I’m probably the most passionate designer you will ever get to work with. If you have a great
            project that
            needs
            some
            amazing skills, I’m your guy.</p>
    </div>
</section>