<section class="project">
  <div class="container project__container">
  <h2 class="section__title">Social</h2>
  <h3 class="project__title">Twitter</h3>
  <p class="project__text">
    We believe that real change starts with conversation. This is where your voice matters. Be who you are, and together we will do what is right (not what is easy) to serve the public debate.
  </p>
 
    <a href="#" class="project__link link">Follow me on TW </a> 
  </div>
  <div class="project__twitter">
   <picture>
    <source
    srcset="./images/img-desktop/twitter-desktop-web.webp 1x, ./images/img-desktop/twitter-desktop-web.webp 2x"
    media="(min-width: 1200px)"
    type="image/webp"/>

    <source srcset="./images/img-desktop/twitter-desktop.jpg 1x, ./images/img-desktop/twitter-desktop@2x.jpg 2x" 
    media="(min-width: 1200px)"/>

    <source
    srcset="./images/img-tablet/twitter-tablet-web.webp 1x, ./images/img-tablet/twitter-tablet-web.webp 2x"
    media="(min-width: 768px)"
    type="image/webp"/>
    
    <source srcset="./images/img-tablet/twitter-tablet.jpg 1x, ./images/img-tablet/twitter-tablet@2x.jpg 2x" 
    media="(min-width: 768px)"/>

    <source
    srcset="./images/img-mobile/twitter-mobile-web.webp 1x, ./images/img-mobile/twitter-mobile-web.webp 2x"
    media="(max-width: 767px)"
    type="image/webp"/>

    <source srcset="./images/img-mobile/twitter-mobile.jpg 1x, ./images/img-mobile/twitter-mobile@2x.jpg 2x" 
    media="(max-width: 767px)"/>

    <img
    src="./images/img-mobile/twitter-mobile.jpg"
    alt="твіттер"
    class="project__img"
  />
  </picture>
 </div>
 
</section>